<ion-header mode="md">
  <ion-navbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <ion-title>Book Store</ion-title>
        </ion-col>
        <ion-col>
          <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-navbar>
  <ion-toolbar class="hide-xs" mode="md" color="light">
    <ion-segment scrollable #segments mode="md" [(ngModel)]="page" color="light">
      <ion-segment-button *ngFor="let category of categoriesArr; let i= index" value="{{i}}" (click)="selectedTab(i,category)">
        {{category}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-grid class="list-cards card-background-page" no-padding>
      <ion-row>
        <ion-col class="col-sm-4 col-md-3 col-xs-4" width-50 *ngFor="let book of books; let i= index">
          <ion-item>
            <ion-avatar item-left>
              <img [src]="book.review_publication_logo" />
            </ion-avatar>
            <h2>{{book.review_publication_name}}</h2>
            <p>Published on &nbsp; {{book.review_date | date :  "dd.MM.y" }}</p>
          </ion-item>
          <ion-card style="text-align:center">
            <div class="book-anim card-div">
              <figure class='book'>
                <!-- Front -->
                <ul class='hardcover_front'>
                  <li>
                    <div class="image-container">
                      <img src="assets/imgs/cover.jpg" alt="" width="100%" height="100%">
                      <div class="text-block">
                        <span >{{book.title}}</span>
                        <h6><i>{{book.author}}</i></h6>
                      </div>
                    </div>
                    <span class="ribbon bestseller">Nº1</span>
                  </li>
                  <li></li>
                </ul>
                <!-- Pages -->
                <ul class='page'>
                  <li></li>
                  <li>
                    <a class="para">{{book.review_snippet}}</a>
                    <a class="btn" href="#">View reviews</a>
                  </li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <!-- Back -->
                <ul class='hardcover_back'>
                  <li></li>
                  <li></li>
                </ul>
                <ul class='book_spine'>
                  <li></li>
                  <li></li>
                </ul>

              </figure>
            </div>
            <ion-card-content>
              <p text-wrap class="ellipsis"> {{book.review_snippet}}</p>
            </ion-card-content>
            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>Reviews</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <img ion-icon name="thumbs-up" [src]="book.review_rating_image" />
                </button>
              </ion-col>
            </ion-row>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<ion-footer class="hide-sm">
  <ion-toolbar mode="md" color="light">
    <ion-segment scrollable #segments mode="md" [(ngModel)]="page" color="light">
      <ion-segment-button *ngFor="let category of categoriesArr; let i= index" value="{{i}}" (click)="selectedTab(i,category)">
        {{category}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
